{% extends 'parqueadero/menu.html' %} {%load static%}
<head>
  <title>Puntos</title>
  <link
    type="text/css"
    rel="stylesheet"
    href='{% static "estilo/boostrap.css" %}'
  />
  <link type="text/css" rel="stylesheet" href='{% static "estilo/col.css" %}' />
  <link
    type="text/css"
    rel="stylesheet"
    href='{% static "estilo/container.css" %}'
  />
  <link
    type="text/css"
    rel="stylesheet"
    href='{% static "estilo/estilo-retro.css" %}'
  />
  <link
    type="text/css"
    rel="stylesheet"
    href='{% static "estilo/about  .css" %}'
  />
</head>
{% block content %}
<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ estaciones }}</td>
    </tr>
  </tbody>
</table>
  
{% endblock %} 
