{% load static %}


<body>
    <h1>login</h1>
    <form action="login" method="post" >
        {% csrf_token %}
        {{form.as_p}}
    <button>Ingresar</button>
    
    </form>
    
</body>
<!-- <html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="shortcut icon" href='{% static "img/logo1.png" %}' type="image/x-icon">
    <link type = 'text/css' rel="stylesheet" href='{% static "estilo/estilo.css" %}'>

</head>

<body>
    
    &nbsp;&nbsp;
    <center>
        <font>
            <form name="login_form" action="login" method="POST">
                <center>
                    <h1>
                        <font>Iniciar Sesión</font>
                    </h1>
                </center><br><br>
                {% csrf_token %}
                <img type = "img" src = '{% static "img/logo1.png" %}' width= "90" height="120"><br><br>
                <label> E-mail:</label><br>
                <input type="Email" class="input_email" placeholder = "email@gmail.com" name = "email" required><br>
                <label>Password</label><br>
                <input type="password" placeholder = "************" name = "password" required><br><br>
                <input type="submit" value="Ingresar" required><br><br>
                <a href="home">¿Olvidaste tu contraseña?</a>
                <div>
                    <a href="register">Registrarse</a><br><br>
                </div>
            </form>
        </font>
    </center>
</body>

</html> -->