<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut" href="../img/logo1.png" type="image/x-icon">
    <link rel="stylesheet" href="../estilo/estilo.css">

</head>

<body>
    <center>
        <h1>
            <font>Iniciar Sesión</font>
        </h1>
    </center><br><br>
    &nbsp;&nbsp;
    <center>
        <font>
            <form name="login_form" action="inbox.html" method="post">
                <label> E-mail:</label><br>
                <input type="Email" class="input_email" required><br>
                <label>Password</label><br>
                <input type="Contraseña" required><br><br>
                <input type="submit" value="LOGIN" required><br><br>
                <a href="">Forgot password?</a><br><br>
                <div>
                    <a href="signup.html">Register</a><br><br>
                </div>
            </form>
        </font>
    </center>
</body>

</html>