{% extends 'parqueadero/menu.html' %}
{%load static%}
<head>
<title>Puntos</title>
<link type = 'text/css' rel="stylesheet" href='{% static "estilo/boostrap.css" %}'>
<link type = 'text/css' rel="stylesheet" href='{% static "estilo/col.css" %}'>
<link type = 'text/css' rel="stylesheet" href='{% static "estilo/container.css" %}'>
<link type = 'text/css' rel="stylesheet" href='{% static "estilo/estilo-retro.css" %}'>
<link type = 'text/css' rel="stylesheet" href='{% static "estilo/about  .css" %}'>
</head>
{% comment %} {% block content %} {% endcomment %}    
<body>
  
      <td>{{ punto }}</td>
</body>


{% comment %} {% endblock %} {% endcomment %}
