<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="shortcut icon" href='{% static "img/logo1.png" %}' type="image/x-icon">
    <link type='text/css' rel="stylesheet" href='{% static "estilo/estilo.css" %}'>
</head>

<body>
    <p>Registro</p>
    <form method="post">

        {% csrf_token %}
        {{form}}
        <button> Registrarse</button>
        <p>Acepata los terminos y condiciones?&nbsp;&nbsp;<input type="radio" required></p>
    </form>
    {% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
    {% endif %}



</html>