<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regitro</title>
    <link rel="shortcut icon" href="../img/logo1.png" type="image/x-icon">
    <link rel="stylesheet" href="../estilo/estilo.css">
</head>

<body >
    <div >
        <form name="Register"  action="inbox.html"  method="post">
            <!-- <font color="#FFFFFF"> -->
                <center>
                    <h1> 
                    <font>
                        Register
                    </font>
                    </h1>
                    <input type="text" placeholder="primerNombre" required><br><br>
                    <input type="text" placeholder="las name" required><br><br>
                    <input type="email" class="input_email" placeholder="Example@gmail.com" required><br><br>
                    <input type="password" placeholder="password" required><br><br>
                    <select name="Sede" class="select" required>
                    <!-- {% for Sede in Sede %}
                    <li>
                    {{Sede.nombre}}
                    </li>
                    {%endfor%} -->
                    </select><br><br>
                    
                    <p>acepata los terminos y condiciones?&nbsp;&nbsp;<input type="radio" required></p>
                    <input type="submit" value="REGISTER" class="input-submit" required><br><br>
                    <!--target="_blank"-->
                </center>
            </font>
        </form>
    </div>
</body>

</html>