<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="shortcut icon" href="{% static "img/logo1.png" %}" type="image/x-icon">
    <link type = 'text/css' rel="stylesheet" href='{% static "estilo/estilo.css" %}'>
</head>

<body>
    <h1> 
        <center>
        <font>
            Registro
        </font>
        </cent>
        </h1>
    <div >
        <form name="Register"  action="home"  method="post">
            <!-- <font color="#FFFFFF"> -->
                <center>
                    <input type="text" placeholder="Nombres" required><br><br>
                    <input type="text" placeholder="Apellidos" required><br><br>
                    <input type="email" class="input_email" placeholder="ejemplo@gmail.com" required><br><br>
                    <input type="password" placeholder="***********" required><br><br>
                    <select name="Sede" class="select" required>
                        <option value="" disabled selected>Seleccione la Sede   </option>
                        {% for sede in sedes  %}
                        <option value="{{ sede.id }}">{{ sede.nombre }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    
                    <p>Acepata los terminos y condiciones?&nbsp;&nbsp;<input type="radio" required></p>
                    <input href = "login" type="submit" value="REGISTER" class="input-submit" required><br><br>
                    <!--target="_blank"-->
                </center>
            </font>
        </form>
    </div>
</body>

</html>